.external-link-icon {
  padding: 0;
  color: var(--color-gray-30);
  align-self: center;
}

.external-link-icon.padding-right {
  padding-right: 0.5em;
}

.external-link-icon.padding-left {
  padding-left: 0.5em;
}