.article-cnt {
  padding: 0 0 0 0.5rem;
  align-self: center;
  white-space: nowrap;
}

.article-cnt.-rank1 {
  color: #e3b72a;
  font-weight: bold;
}

.article-cnt.-rank2 {
  color: #989898;
  font-weight: bold;
}

.article-cnt.-rank3 {
  color: #b47950;
  font-weight: bold;
}

.article-cnt > .suffix {
  font-size: 0.5rem;
  padding-left: 0.2rem;
}
