:root {
  --color-gray-10: #e9e9e9;
  --color-gray-20: #cccccc;
  --color-gray-30: #767676;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: YakuHanJP, "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  width: 100%;
  white-space: normal;
  color: #333333;
}

main {
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  border-bottom: 1px solid var(--color-gray-10);
  padding: 0.4rem 0.2rem;
}

h3 {
  font-size: 1.15rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 0rem 0.5rem;
}

p {
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding-left: 0.2rem;
  margin-bottom: 0.5rem;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 1rem 0.5rem;
}

.content-loader-wrapper {
  position: relative;
}

.content-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
