/* PureCSSをオーバーライド */

.pure-menu-item {
  align-items: center;
}

.pure-menu-item:not(:last-child) {
  margin-bottom: 0.25rem;
}

.pure-menu-link {
  padding: 0.5rem;
  display: inline;
  color: var(--color-gray-30);
  white-space: normal;
  border-radius: 4px;
}

@media (hover: none) {
  .pure-menu-link:hover {
    background-color: inherit;
  }

  .pure-menu-link:active {
    background-color: var(--color-gray-10);
  }
}

.pure-menu-link:focus {
  background-color: inherit;
}
