.accordion {
  background-color: #eee;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion-body {
  overflow: hidden;
  transition: 0.3s;
}

.accordion-body > * {
  margin-top: 1em;
}
