* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: YakuHanJP, "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  width: 100%;
  white-space: normal;
}

main {
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto;
}

header {
  background-color: rgb(61, 79, 93);
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 1em;
}

header a {
  font-size: 150%;
  text-decoration: none;
  color: rgb(92, 163, 209);
}

li {
  list-style: none;
}

h2 {
  border-bottom: 1px solid #eee;
  padding: 0.4em 0.2em;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.external-link-icon {
  padding: 0 0.5em;
  color: #767676;
  align-self: center;
}

.container {
  padding: 1em 0.5em;
}

.pure-menu-item {
  margin-bottom: 1em;
}

.pure-menu-link {
  padding: 0.2em;
  display: inline;
  color: #767676;
  white-space: normal;
}

.year-container {
  font-size: 200%;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.video {
  max-width: 100%;
}