* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: YakuHanJP, "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  width: 100%;
  white-space: normal;
  color: #333333;
}

main {
  max-width: 600px;
  padding: 1em;
  margin: 0 auto;
}

li {
  list-style: none;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0.2em;
  align-items: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0.2em;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0em 0.5em;
}

p {
  line-height: 1.5em;
  margin-bottom: 0.5em;
  padding-left: 0.2em;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 1em 0.5em;
}

.pure-menu-item {
  margin-bottom: 0.5em;
}

.pure-menu-link {
  padding: 0.2em;
  display: inline;
  color: #767676;
  white-space: normal;
}

@media (hover: none) {
  .pure-menu-link:hover {
    background-color: inherit;
  }

  .pure-menu-link:active {
    background-color: #eee;
  }
}

.pure-menu-link:focus {
  background-color: inherit;
}

.icon.-inline {
  padding: 0 0.2em;
}

.pt-05 {
  padding-top: 0.5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.content-loader-wrapper {
  position: relative;
}

.content-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}