* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: YakuHanJP, "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  width: 100%;
  white-space: normal;
  color: #333333;
}

main {
  max-width: 600px;
  padding: 1em;
  margin: 0 auto;
}

header {
  background-color: rgb(61, 79, 93);
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 1em 1.2em;
}

header a {
  font-size: 150%;
  text-decoration: none;
  color: #eee;
}

li {
  list-style: none;
}

h2 {
  border-bottom: 1px solid #eee;
  padding: 0.4em 0.5em;
}

h3 {
  padding: 0em 0.5em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 1em 0.5em;
}

.pure-menu-item {
  margin-bottom: 0.8em;
}

.pure-menu-link {
  padding: 0.2em;
  display: inline;
  color: #767676;
  white-space: normal;
}

@media (hover: none) {
  .pure-menu-link:hover {
    background-color: inherit;
  }

  .pure-menu-link:active {
    background-color: #eee;
  }
}

.pure-menu-link:focus {
  background-color: inherit;
}

.external-link-icon {
  padding: 0 0 0 0.5em;
  color: #767676;
  align-self: center;
}

.external-link-icon.-inline {
  padding: 0 0.2em;
}

.article-h2 > span {
  padding-right: 0.3em;
}

.article-h2 > .pure-menu-link {
  display: inline-block;
  font-weight: normal;
  font-size: 0.7em;
}

.article-h2 > .pure-menu-link > .external-link-icon {
  padding-left: 0.3em;
}

.year-container {
  font-size: 200%;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.video {
  max-width: 100%;
}

.article-cnt {
  padding: 0 0 0 0.5em;
  align-self: center;
  white-space: nowrap;
}

.accordion {
  background-color: #eee;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

.accordion-header {
  cursor: pointer;
}

.accordion-body {
  overflow: hidden;
  transition: 0.3s;
}

.accordion-body > * {
  margin-top: 1em;
}