/* PureCSSをオーバーライド */

.pure-menu-item {
  margin-bottom: 0.5em;
}

.pure-menu-link {
  padding: 0.2em;
  display: inline;
  color: var(--color-gray-30);
  white-space: normal;
}

@media (hover: none) {
  .pure-menu-link:hover {
    background-color: inherit;
  }

  .pure-menu-link:active {
    background-color: var(--color-gray-10);
  }
}

.pure-menu-link:focus {
  background-color: inherit;
}
