.accordion {
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.information {
  background-color: #e9e9e9;
}

.warning {
  background-color: #fdf9e2;
}

.accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.2em;
  text-decoration-color: var(--color-gray-30);
}

.accordion-body {
  overflow: hidden;
  transition: 0.3s;
}

.accordion-body > * {
  margin-top: 0.5rem;
}